@font-face {
    font-family: "DeterminationSansWebRegular";
    src: url(./assets/fonts/DeterminationSansWebRegular-369X.ttf);
}

.cursor {
    cursor: pointer;
    color: white;
}

.back {
    background: #9db89d!important;
    /* o !importante é pra definir que esses componentes precisam estar acima na hierarquia */
}

.margem-paginas{
    padding: 13px;
}

.text-decorator-none {
    text-decoration: none;
}
 
 /* link que foi visitado */

 a:visited {
     color: white;
 }
 
 /* mouse over */
 a:hover {
     color: #000000;
 }