.imagem {
    background-image: url(https://media.giphy.com/media/G0Odfjd78JTpu/giphy.gif);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: 'center';
}

.text-decorator-none {
    text-decoration: none;
}

.botao1 {
    background-color: #9db89d!important;
}

.text-decorator-none {
    text-decoration: none;
}

a:link {
    color: #9db89d;
 }

 /* link que foi visitado */

.cadastro:visited {
    color: #9db89d!important;
    
}

/* mouse over */
.cadastro:hover {
    color: #000000;
}