.textos {
    color: white;
}

.box1 {
    background-color: #D076FF;
    height: 100px;
}

.box2 {
    background-color: #D076FF;
    height: 60px;
}

.redes {
    font-size: 50!important;
    color: white;
}