.textos {
    color: white;
}

.box1 {
    background: #9db89d!important;
    height: 70px;
}

.box2 {
    background: #4f614f!important;
    min-height: 50px;
}

.redes {
    font-size: 25px!important;
    color: white;
}