.textos {
    color: white;
}

.box1 {
    background: linear-gradient(36deg, #D076FF 8%, #b14ce7 80%)!important;
    height: 70px;
}

.box2 {
    background: linear-gradient(36deg, #D076FF 8%, #b14ce7 80%)!important;
    height: 50px;
}

.redes {
    font-size: 25px!important;
    color: white;
}