@font-face {
    font-family: 'VT323', monospace;
    src: url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Gugi&family=PT+Sans+Narrow&family=Patrick+Hand&family=Shadows+Into+Light&family=Turret+Road:wght@200&family=VT323&family=Varela+Round&family=Waiting+for+the+Sunrise&display=swap');
}

*{
    font-family: 'VT323', monospace!important;
}

.background{
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    min-height: calc(100vh - 64px); 

    /* Calc: função do CSS que faz um calculo com medidas e retorna seu resultado. No caso
            abaixo estamos calculando a largura da tela da pessoa menos a altura do Navbar*/
}

.lado{
    padding-left: 140px;
}

.lado2{
    padding-left: 20px;
}

.titulo{
    color: black!important;
    font-weight: bold!important;
    text-shadow: 2px 3px 2px grey;
}

.titulo2{
    color: black!important;
    font-weight: bold!important;
}

.botao {
    border-color: #9db89d!important;
    background-color: #9db89d!important;
    color: white!important;
}

.postagens {
    background-color: white!important;
}

.text-decorator-none{
    text-decoration: none;
}